/*Colors*/
$white: #FFFEFE;
$background: #EEF3FD;
$black: #303031;
$color-primary: #2563EB;
$neutral-10: #0A0A0A;
$neutral-30: #262626;
$neutral: #525252;
$neutral-60: #737373;
$neutral-80: #D4D4D4;
$neutral-90: #E5E5E5;
$neutral-95: #F5F5F5;
$error: #DC2626;

$primary-button: linear-gradient(97.68deg, #1E40AF -0.69%, #2563EB 42.05%, #3B82F6 99.39%);


/*Font weight*/
$font-regular: 400;
$font-bold: 700;
$font-medium: 500;
$font-semibold: 600;
$font-extrabold:800;

/*Shadows*/
$card-elevation:  0px 1px 2px rgba(0, 0, 0, 0.05);
$navbar-header-shadow: 0px 1px 2px 0px rgba(0,0,0,0.06), 0px 1px 3px 0px rgba(0,0,0,0.1);


:export {
  neutral30: $neutral-30;
}